
<div>

    <% tickets.forEach (function (ticket){ %>
    <div>
        <img width="500" height="500" class="table-thumb" src="<%- ticket.pics %>" />
      <div class="table-date" data-sort-value="<%= ticket.createdAt %>"><span class="bstooltip" title="<%= ticket.createdAt %>"><%= ticket.createdAt %></span></div>
    </div>
    <% }) %>

</div>
